<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>

<div th:replace="fragments/fragment :: navigation"></div>

<div class="container">
  <div class="row" style="margin-bottom: -100px;">
    <div class="col-xs-10">
      <h2 class="section-headline"><span>Login</span></h2>
    </div>
  </div>
  <hr style="position:fixed; width:60%; height:6px; background-color: #333; z-index:-1; margin-top: 85px;"/>

  <div class="row" style="margin-top: 20px;">
    <div class="col-xs-10 col-xs-offset-1">

      <!-- Log in -->
      <div class="panel-group">
        <div class="panel panel-default" style="border: none;">
          <div class="panel-body"
               style="background-color: #ededed; margin-top: 20px;">


            <form th:action="@{/users/login}" method="POST">

              <div class="form-group">
                <label for="username">* Username: </label>
                <input
                        required minlength="3" maxlength="20"
                        type="text" class="form-control"
                        id="username" name="username"/>


                <p style="color: #828282">Enter your username here.</p>
              </div>

              <div class="form-group">
                <label for="password">* Password: </label>
                <input
                        required minlength="5" maxlength="20"
                        type="password" class="form-control"
                        id="password" name="password"/>
                <p style="color: #828282">Enter your password here.</p>
              </div>

              <h3 class="mt-5 text-center">
                <strong th:if="${notLogged}" class="bg-blur rounded text-danger">
                  Wrong username and password combination.
                </strong>
              </h3>


              <button type="submit" class="btn btn-primary">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Container -->

<div th:replace="fragments/fragment :: footer"></div>


</body>
</html>