<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head">

</head>

<body>

<nav th:replace="fragments/fragment :: navigation"></nav>

<!--        Edit-->

<div class="container">
    <div class="row" style="margin-bottom: -50px;">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>Password Reset</span></h2>
        </div>
        <div class="col-xs-3">
            <img src="/image/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr style="position:fixed; width:36%; height:6px; background-color: #333; z-index:-1; margin-top: 35px;"/>

<div class="row" style="margin-top: 50px;">
    <div class="col-xs-9 col-xs-offset-0">
        <div class="panel-group">
            <div class="panel panel-default" style="border: none;">
                <div class="panel-body"
                     style="background-color: #ededed; margin-top: 20px;">

    <form role="form"
          th:object="${userPasswordUpdateBindingModel}"
          th:action="@{/users/editPassword/{id}(id=*{id})}"
          th:method="POST">

        <div class="form-group row">
            <label for="oldPassword" class="col-lg-3 col-form-label form-control-label">Current Password</label>
            <div class="col-lg-5">
                <input th:field="*{oldPassword}" th:errorclass="bg-danger"
                       minlength="5"
                       maxlength="20"
                       name="oldPassword" id="oldPassword" class="form-control" type="password"
                       placeholder="current password">

                <small th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                       id="oldPasswordHelpInLine" class="bg-danger text-light rounded">
                    Password length must be more than 5 characters long.
                </small>

                <small th:if="${currentPasswordNotEqual}" class="bg-danger text-light rounded">
                    Current password is incorrect!
                </small>

            </div>
        </div>

        <div class="form-group row">
            <label for="newPassword" class="col-lg-3 col-form-label form-control-label">Password</label>
            <div class="col-lg-5">
                <input th:field="*{newPassword}" th:errorclass="bg-danger"
                       minlength="5"
                       maxlength="20"
                       id="newPassword" name="newPassword"
                       class="form-control" type="password"
                       placeholder="password">
                <small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                       id="newPasswordHelpInLine" class="bg-danger text-light rounded">
                    Password length must be more than 5 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label for="confirmNewPassword" class="col-lg-3 col-form-label form-control-label">Confirm password</label>
            <div class="col-lg-5">
                <input th:field="*{confirmNewPassword}" th:errorclass="bg-danger"
                       minlength="5"
                       maxlength="20"
                       id="confirmNewPassword" name="confirmNewPassword"
                       class="form-control" type="password"
                       placeholder="confirm password">

                <small th:if="${#fields.hasErrors('confirmNewPassword')}"
                       th:errors="*{confirmNewPassword}" id="confirmNewPasswordHelpInLine"
                       class="bg-danger text-light rounded">
                    Password length must be more than 5 characters long.
                </small>

                <small th:if="${passwordIsNotEqual}" class="bg-danger text-light rounded">
                    Password not matching !
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <button type="submit" class="btn btn-primary"> Save Changes</button>
                <a class="btn btn-danger" th:href="@{/users/profile}">Cancel</a>
            </div>
        </div>
    </form>
</div>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>