<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>

<div class="container">
    <div class="row" style="margin-bottom: -50px;">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>User Account</span></h2>
        </div>
        <div class="col-xs-3">
            <img src="/image/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr style="position:fixed; width:60%; height:6px; background-color: #333; z-index:-1; margin-top: 35px;"/>

    <div class="row" style=" margin-top: 50px;">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel-group">
                <div class="panel panel-default" style="border: none;">
                    <div class="panel-body"
                         style="background-color: #ededed; margin-top: 20px;">


                        <form th:action="@{/users/register}" method="POST" th:object="${registrationBindingModel}"
                                  class=" text-center text-light">
                            <div class="form-group row" style="padding-bottom: 10px">
                                <label for="username" class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">

                                    <input th:field="*{username}" th:errorclass="bg-danger" name="username" required
                                           minlength="5"
                                           maxlength="20" type="text" class="form-control" id="username"
                                           aria-describedby="usernameHelpInline" placeholder="Username">


                                    <small th:if="${userNameExist}" class="bg-danger text-light rounded">
                                        Username is taken by another person!
                                    </small>


                                </div>
                            </div>

                            <div class="form-group row" style="padding-bottom: 10px">
                                <label for="lastName" class="col-sm-2 col-form-label">Full name</label>
                                <div class="col-sm-10">


                                    <input name="fullName" th:value="*{fullName}" th:errorclass="is-invalid" required
                                           minlength="5"
                                           maxlength="20" type="text" class="form-control" id="lastName"
                                           aria-describedby="lastNameHelpInline" placeholder="Last name">


                                </div>
                            </div>
                            <div class="form-group row" style="padding-bottom: 10px">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">


                                    <input name="email" th:value="*{email}" th:errorclass="is-invalid" required
                                           type="email"
                                           class="form-control" id="email"
                                           aria-describedby="emailHelpInline" placeholder="email@example.com">


                                    <small th:if="${emailExist}" class="bg-danger text-light rounded">
                                        Enter valid email address.
                                    </small>


                                </div>
                            </div>
                            <div class="form-group row" style="padding-bottom: 10px">
                                <label for="password" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">


                                    <input th:field="*{password}" th:errorclass="bg-danger" name="password"
                                           type="password" class="form-control" id="password"
                                           aria-describedby="passwordHelpInline" placeholder="Password">


                                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                           id="passwordHelpInline" class="bg-danger text-light rounded">
                                        Password length must be more than 5 characters long.
                                    </small>


                                </div>
                            </div>
                            <div class="form-group row" style="padding-bottom: 10px">
                                <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                                <div class="col-sm-10">


                                    <input th:field="*{confirmPassword}" th:errorclass="bg-danger"
                                           name="confirmPassword"
                                           type="password" class="form-control" id="confirmPassword"
                                           aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">


                                    <small th:if="${#fields.hasErrors('confirmPassword')}"
                                           th:errors="*{confirmPassword}"
                                           id="confirmPasswordHelpInline" class="bg-danger text-light rounded">
                                        Password length must be more than 5 characters long.
                                    </small>

                                    <small th:if="${passwordIsNotEqual}" class="bg-danger text-light rounded">
                                        Password not matching !
                                    </small>

                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Create new account</button>
                        </form>
                        <hr class="bg-light">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>